.router-outlet{
  margin-left: 170px;
  margin-top: 80px;
  /* margin-right: 300px; */
}

.admin-left-sidebar {
	display: block;
	background-color: white;
	width: 10%;/*200px;*/
	height: 100%;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
}

.admin-right-content {
	display: block;
	margin-left: calc(100% - 80%);
	width: calc(100% - 25%);
}
