<div>
  <form [formGroup]="menuLinkFormGroup" (ngSubmit)="createMenuLink()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" formControlName="linkName" class="form-control" id="blogLink" aria-describedby="menuLink"
        placeholder="Enter Menu Name" required>
      <small id="menuLink" class="form-text text-muted">It will create a new menu for your blog</small>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-spacing">Create Menu Link</button>
      <button type="button" class="btn btn-primary" (click)="goBackToBlogsMenuLink()">Back</button>
    </div>
  </form>
</div>

<div *ngIf="this.menuLinkFormGroup.dirty && this.menuLinkFormGroup.touched && !this.menuLinkFormGroup.valid"
  class="error-message">
  Please Fill in all the field
</div>
