<div class="btn btn-primary" (click)="createBlog()">Create New Blog</div>

<!-- Create Blog form -->
<div *ngIf="isCreateBlogForm">
  <app-create-blog [blogMenus]="blogMenus" [selectedBlogType]="selectedBlogType" [selectedBlog]="selectedBlog"
    [isUpdateBlog]="isUpdateBlog" (isBlogCreated)="isBlogCreated($event)">
  </app-create-blog>
</div>

<div class="blogs-container" *ngIf="!isCreateBlogForm">
  <div class="blog" *ngFor="let blog of blogList;let i=index" (click)="getBlog(blog,i)">
    <!-- <pre>{{blog | json }}</pre> -->
    <div class="main-header">
      {{blog.mainHeader}}
    </div>
    <div class="blog-writer">
      Writer: {{blog.mainHeader}}
    </div>
  </div>
</div>
